<!doctype html>
<html>
  <head>
      {% if title %}
      <title>Subtle - {{ title }}</title>
      {% else %}
      <title>Subtle</title>
      {% endif %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
      <!-- Bootstrap -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/subtle.css') }}" rel="stylesheet">
  </head>
  <body>
      <!-- NavBar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('browse') }}">Select a video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if no_results %} disabled{% endif %}" href="{{ url_for('get_result') }}">Results</a>
              </li>
            </ul>
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/subtle_w.svg') }}" height="40px" class="img-responsive" alt="Subtle"></a>
          </div>
        </nav>

        <!-- Flash messages -->
        {% block popups %}
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    <div class="popups">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["info"]) %}
                {% if messages %}
                    <div class="popups">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    <div class="popups">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
      {% endblock %}

      <main role="main" class="container">
          {% block content %}{% endblock %}
      </main>
      <footer class="footer">
      <div class="container" align="center">
        <span class="text-muted">
            Subtle by 
            <strong>
                <a href="https://github.com/beeksma" class="text-muted" target="_new">Beeksma</a>
            </strong>
        </span>
      </div>
    </footer>
      <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
      <script src="{{ url_for('static', filename='js/subtle.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  </body>
</html>