{% extends "base.html" %}
{% block content %}
<div id="load_screen">
    <br><br><br>
    <p align="center"><img height="100" src="/static/img/subtle_r.svg"/></p>
    <h3>Searching for subtitles...</h3>
    <br><br><br>
</div>
<div id="browser">
    <h2>
        {% if not_root %}
            {{ path }}
        {% else %}
            Please select a video file
        {% endif %}
    </h2>
    <div class="table">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th style="width: 80%">Name</th>
                <th style="width: 20%">Type</th>
            </tr>
            </thead>
            <tbody>
            {% if not_root %}
            <tr class='clickable-dir' style="cursor: pointer" data-url='{{ url_for('browse') }}?dir=-1'>
                <td>..</td>
                <td>Parent directory</small></td>
            </tr>
            {% endif %}
            {% for dir in directories %}
            <tr class='clickable-dir' style="cursor: pointer" data-url='{{ url_for('browse') }}?dir={{ directories.index(dir) }}'>
                <td>{{ dir }}</td>
                <td>Directory</td>
            </tr>
            {% endfor %}
            {% for file in files %}
            <tr class='clickable-file' style="cursor: pointer" data-url='{{ url_for('select') }}?file={{ files.index(file) }}'>
                <td>{{ file }}</td>
                <td>Video file</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}