{% extends "base.html" %}
{% block content %}
<h1>Please select a video file:</h1>
        <table>
            <tr>
                <th><p align="left">Name</p></th>
                <th><p align="left">Type</p></th>
            </tr>
            {% if not_root %}
            <tr>
                <td width="70%" height="5"><small><a href="/browse?dir=parent">..</a></small></td>
                <td><small>Parent directory</small></td>
            </tr>
            {% endif %}
            {% for dir in directories %}
            <tr>
                <td width="70%" height="5"><small><a href="/browse?dir={{ dir }}">{{ dir }}</a></small></td>
                <td><small>Directory</small></td>
            </tr>
            {% endfor %}
            {% for file in files %}
            <tr>
                <td width="70%" height="5"><small><a href="/select?file={{ file }}">{{ file }}</a></small></td>
                <td><small>Video file</small></td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}